*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    background-image: linear-gradient(to right top, #8aeddf, #5fdee3, #30cde9, #00bbec, #12a7eb);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    
}

.avatar img{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}


h1{
    font-weight: 600;
    color: #5d8cca;
    font-size: 24px;
    opacity: 0.9;
}

h2{
    font-weight: 600;
    color: #5d8cca;
    font-size: 24px;
    opacity: 0.9;
}

h3{
    font-weight: 600;
    color: #5d8cca;
    font-size: 24px;
    opacity: 0.9;
}

h4{
    font-weight: 600;
    color: #5d8cca;
    font-size: 24px;
    opacity: 0.9;
}

p{
    color: #5d8cca;
    font-weight: 600;
    font-size: 16px;
    opacity: 0.9;
}

.percentage{
    color: #5d8cca;
    font-weight: 600;
    opacity: 0.9;
}

.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: rgba(255,255,255,.38);
    border-radius: 15px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,.5);
    z-index: 3;
    backdrop-filter: blur(2rem);
    display: flex;
}

.circle1{
    background: white;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 2%;
    right: 13.2%;
    box-shadow: 4.5px 2px 3px 2px rgba(91, 175, 223, 0.3);
}

.circle2{
    background: white;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background: rgba(255,255,255,.45);
    position: absolute;
    bottom: 1%;
    left: 15%;
    box-shadow: 4.5px 4px 4.5px rgba(91, 175, 223, 0.3);
}

.dashboard{
    flex: 1.5;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    position: relative;
}

.link{
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 25px;
    
}

.links img{
   width: 14%;
   right: 55px;
   position: absolute;
   position: relative;
   
}

.links h2{
   width: 2.5px;
   position: absolute;
   text-align: left;
}

.pro{
    background-image: linear-gradient(to right top, #8aeddf, #5fdee3, #30cde9, #00bbec, #12a7eb);
    border-radius: 15px;
    margin: 1.6rem;
    position: relative;
    box-shadow: 4.5px 4.5px rgba(91, 175, 223, 0.3);
    width: 83%;
    height: 130px
    

}

.pro img{
    position: absolute;
    bottom: 6px;
    left: 123px;
    image-resolution:20,20;
    
    
}

.avatar img{
    margin-top: 23px;
    margin-bottom: 10px;
    
}

.pro h3{
    color: white;
   width: 35%;
   bottom: 26px;
   left: 30px;
   position: absolute;

}

.games{
    flex: 3;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

.status input{
    background: rgba(255,255,255,.45);
    padding: 6.5px;
    width: 50%;
    border-radius: 1rem;
    border: none;
    margin-left: 150px;
    box-shadow: 2.2px 5px rgba(91, 175, 223, 0.3);

}


.active{
    text-align:center;
    padding: 8px;
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
}

.cards{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.games{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card{
    display: flex;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
    margin: 20px 0px;
    align-content: center;
    margin-right: 50px;
    position: relative;
    box-shadow: 4.5px 4.5px rgba(91, 175, 223, 0.3);

}



.card img{
   width: 80px;
   padding: 1px;
   height: 80px;
   margin-left: 6px;
   margin-top: 3.5px;
}

.percentage{
    margin-left: 300px;
    font-size: 19.5px;
    position: relative;
    top: -50px;
    font-weight: 600;
    
}

.progress
{
    background: rgba(255, 255, 255, 0.4);
    width: 75%;
    border-radius: 2rem;
    height: 17px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}



.sixty:after{
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #8aeddf, #5fdee3, #30cde9, #00bbec, #12a7eb);
    position: absolute;
    right : 40%;
}

.thirty::after{
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #8aeddf, #5fdee3, #30cde9, #00bbec, #12a7eb);
    position: absolute;
    right : 60%;
}

.sixtyfive::after{
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #8aeddf, #5fdee3, #30cde9, #00bbec, #12a7eb);
    position: absolute;
    right : 35%;
}

.card_info{
    margin-left: 50px ;
    position: relative;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.avatar img{
    border-radius: 50%;
    margin-bottom: 10px;
   
}

